Mock exam 1/LanguageSchool-Start/LanguageSchool/Service References/SchoolServiceReference/SchoolService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="SchoolService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="SchoolService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="SchoolService/Imports">
      <xsd:import namespace="SchoolService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SchoolService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchool_GetNumberOfCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfCourses" />
  </wsdl:message>
  <wsdl:message name="ISchool_GetNumberOfCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ISchool_GetTeacherName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherName" />
  </wsdl:message>
  <wsdl:message name="ISchool_GetTeacherName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISchool_GetCourseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseList" />
  </wsdl:message>
  <wsdl:message name="ISchool_GetCourseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseListResponse" />
  </wsdl:message>
  <wsdl:message name="ISchool_SignInForCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:SignInForCourse" />
  </wsdl:message>
  <wsdl:message name="ISchool_SignInForCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInForCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISchool_SubscribeEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeEvent" />
  </wsdl:message>
  <wsdl:message name="ISchool_SubscribeEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeEventResponse" />
  </wsdl:message>
  <wsdl:message name="ISchool_UnsubscribeEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeEvent" />
  </wsdl:message>
  <wsdl:message name="ISchool_UnsubscribeEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeEventResponse" />
  </wsdl:message>
  <wsdl:message name="ISchool_OnCourseFull_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCourseFull" />
  </wsdl:message>
  <wsdl:portType name="ISchool">
    <wsdl:operation name="GetNumberOfCourses">
      <wsdl:input wsaw:Action="SchoolService/ISchool/GetNumberOfCourses" message="tns:ISchool_GetNumberOfCourses_InputMessage" />
      <wsdl:output wsaw:Action="SchoolService/ISchool/GetNumberOfCoursesResponse" message="tns:ISchool_GetNumberOfCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherName">
      <wsdl:input wsaw:Action="SchoolService/ISchool/GetTeacherName" message="tns:ISchool_GetTeacherName_InputMessage" />
      <wsdl:output wsaw:Action="SchoolService/ISchool/GetTeacherNameResponse" message="tns:ISchool_GetTeacherName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseList">
      <wsdl:input wsaw:Action="SchoolService/ISchool/GetCourseList" message="tns:ISchool_GetCourseList_InputMessage" />
      <wsdl:output wsaw:Action="SchoolService/ISchool/GetCourseListResponse" message="tns:ISchool_GetCourseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignInForCourse">
      <wsdl:input wsaw:Action="SchoolService/ISchool/SignInForCourse" message="tns:ISchool_SignInForCourse_InputMessage" />
      <wsdl:output wsaw:Action="SchoolService/ISchool/SignInForCourseResponse" message="tns:ISchool_SignInForCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeEvent">
      <wsdl:input wsaw:Action="SchoolService/ISchool/SubscribeEvent" message="tns:ISchool_SubscribeEvent_InputMessage" />
      <wsdl:output wsaw:Action="SchoolService/ISchool/SubscribeEventResponse" message="tns:ISchool_SubscribeEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeEvent">
      <wsdl:input wsaw:Action="SchoolService/ISchool/UnsubscribeEvent" message="tns:ISchool_UnsubscribeEvent_InputMessage" />
      <wsdl:output wsaw:Action="SchoolService/ISchool/UnsubscribeEventResponse" message="tns:ISchool_UnsubscribeEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCourseFull">
      <wsdl:output wsaw:Action="SchoolService/ISchool/OnCourseFull" message="tns:ISchool_OnCourseFull_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>